<!DOCTYPE html>
<html lang="en" ng-app="ngfun.code.challenge.app" ng-strict-di>

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <base href="/">
  <title>ES6 Angular Coding Challenge</title>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"
          rel="stylesheet">

  <!-- Die frame! DIE! http://en.wikipedia.org/wiki/Framekiller -->
  <style>html{display:none}</style>
  <% htmlWebpackPlugin.files.css.forEach(function(cssFile) { %>
  <link href="<%= cssFile %>" rel="stylesheet">
  <% }); %>
  <script>
    if (window.self !== window.top) {
      window.top.location.href = window.location.href;
    } else {
      document.documentElement.style.display = 'block';
    }
  </script>

</head>
<body>

  <div class="container-fluid">
    <div ng-view></div>
  </div>

<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
<script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
<% } %>
</body>
</html>
